services:
  app:
    image: ghcr.io/aymanesaj/app:prod
    restart: unless-stopped
    container_name: app
    expose:
      - "8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 5s

  nginx:
    image: ghcr.io/aymanesaj/nginx:prod
    restart: unless-stopped
    container_name: nginx
    ports:
      - "80:80"
    depends_on:
      app:
          condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      timeout: 3s
      retries: 3
